<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error!</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/login.css') }}">
</head>

<body>
    <div class="full-page-container">
        <h1 class="title">An error occurred ({{error_code}})</h1>
        {%if nice_error %}
            <p class="error-message">{{ nice_error }}</p>
        {%else%}
            <p class="error-message">{{ error_message }}</p>
        {%endif%}
    </div>
</body>

</html>