<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/login.css') }}">
</head>

<body>
    <div class="full-page-container">
        <h1 class="title">Playlist Generated Succesfully!</h1>
        <button class="btn-primary" onclick="location.href='{{playlist_url}}'">Check it out on Spotify</button>
    </div>
</body>

</html>
